@charset "UTF-8";
/* #########################################*/
/* FOOTER */
/* #########################################*/
#footer {
  position: fixed;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 8px 0 0 0;
  display: flex;
  background-color: rgba(45, 178, 255, 0.431372549);
  text-align: center;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}
#footer .footer__logo {
  margin-left: 0px;
}
#footer .footer__logo img {
  width: 90px;
  height: 90px;
  background-color: transparent;
  border-radius: 100%;
  border: 8px solid #2DB3FF;
}
#footer .footer__links ul {
  list-style: none;
  margin-right: 0px;
}
#footer .footer__links ul a {
  color: #ffffff;
  font-family: "Comfortaa", sans-serif;
  text-decoration: none;
  margin-top: auto;
  transform: scale(1.1);
}
#footer .footer__redes {
  margin-right: 30px;
}
#footer .footer__redes img {
  width: 50px;
  height: 50px;
}
#footer .footer__links ul a:hover {
  color: #2DB3FF;
}

/* #########################################*/
/* HEADER */
/* #########################################*/
header {
  /*position: fixed;*/
  width: 100%;
  padding: 0px 3%;
  background: rgba(45, 178, 255, 0.431372549);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: relative;
}
header nav {
  text-align: right;
}
header nav ul li {
  display: inline-block;
  font-size: 20px;
  font-family: "Comfortaa", sans-serif;
}
header nav ul li a {
  font-family: "Comfortaa", sans-serif;
  color: #ffffff;
  margin: 5px;
  text-decoration: none;
  transform: scale(1.1);
}
header .navbar a:hover {
  color: #2DB3FF;
}

/* LOGO */
.logo {
  color: #ffffff;
  text-decoration: none;
  font-size: 50px;
  font-family: "Comfortaa", sans-serif;
  margin-right: 30px;
  align-items: center;
  display: flex;
}
.logo img {
  border-radius: 100px;
  border: 7px solid #2DB3FF;
  margin: 20px;
}
.logo a {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* #########################################*/
/* BODY */
/* #########################################*/
.analista {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.analista .presentacion {
  padding: 0px 10px;
  position: relative;
  margin-left: 0px;
  width: 50%;
}
.analista .boxbanner {
  text-align: center;
  margin-top: 0px;
  box-sizing: content-box;
}
.analista .boxbanner h1 {
  color: #ffffff;
  position: relative;
  padding: 10px;
}
.analista .boxbanner h2 {
  color: #2DB3FF;
  position: relative;
  padding: 15px;
}
.analista .boxbanner p {
  color: #ffffff;
  padding: 15px;
  position: relative;
}

/* BANNER */
.banner__boxbanner {
  margin-top: 0;
  max-width: 45%;
  padding: 50px;
}
.banner__boxbanner img {
  width: 80%;
}

.banner_boxbanner:active {
  transition: 1.5s;
  transform: rotateY(360deg);
}

main {
  display: inline-block;
  position: relative;
}

/* ACERCA DE */
#acercaDe {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 50px;
}

#acercaDe h2 {
  color: #ffffff;
  font-family: "Comfortaa", sans-serif;
  margin: 20px;
}

#acercaDe h3 {
  color: #2DB3FF;
  font-family: "Comfortaa", sans-serif;
  margin: 20px;
}

#acercaDe ul {
  color: #ffffff;
  margin: 20px;
  font-family: "Comfortaa", sans-serif;
}

/* CONTACTO 
.formulario{
    color: #2DB3FF;
    margin: 40px;
    font-family: 'Comfortaa', sans-serif;
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.formulario div{
    margin: 30px;
}*/
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  text-align: center;
  font-size: 3em;
}

.logo span {
  color: #2DB3FF;
}

.contact-wrapper {
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
  border-radius: 10px;
}

.contact-form {
  background: #222222;
  border-radius: 10px;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
  color: #fff;
}

.contact-form form .block {
  grid-column: 1/3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #2DB3FF;
}

.contact-form form button {
  background: #2DB3FF;
  border: 0;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #2DB3FF;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* CONTACT INFO */
.contact-info {
  background: #000;
}

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
  color: #fff;
}

/* LARGE SIZE */
@media (min-width: 700px) {
  body {
    padding: 0 4em;
  }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
  }
}
/* PORTAFOLIO */
#proyectos {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 50px;
}

#proyectos h2 {
  color: #2DB3FF;
  margin: 20px;
  font-family: "Comfortaa", sans-serif;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  display: inline-block;
}

@media (min-width: 1400px) {
  section.analista {
    margin-top: 55px;
  }
  header {
    padding: 0px 3%;
  }
  .footer {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  section.analista {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0px;
  }
  section.analista .banner_boxbanner img {
    width: 120%;
    align-items: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /*border: 1px solid lightblue; */
}

/*SPV= Selector+Propiedad+Valor*/
/*TIPOS DE MEDIDAS:
    %= tamaño relativo
    px= tamaño fijo
    vh= tamaño visible
    vw= tamaño visible
    */
/* CUERPO */
body {
  position: relative;
  background: #000000;
  display: block;
  min-height: 100vh;
  margin-bottom: 280px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*# sourceMappingURL=style.css.map */
