/* #########################################*/
                /* HEADER */
/* #########################################*/
header{
    /*position: fixed;*/
    width: 100%;
    padding: 20px 10%;
    background: #2db2ff6e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
    position: relative;
    nav{
        text-align: right;
        ul{ 
            
            li{
                display: inline-block;
                font-size: 20px;
                font-family: 'Comfortaa', sans-serif;
                a{
                    font-family: 'Comfortaa', sans-serif;
                    color: #ffffff;
                    margin: 5px;
                    text-decoration: none;
                }
            } 
        }
    }
    .navbar a:hover{
        color:#2DB3FF;
    }
}



/* LOGO */
.logo{
    color: #ffffff;
    text-decoration: none;
    font-size: 50px;
    font-family: 'Comfortaa', sans-serif;
    margin-right: 30px;
    align-items: center;
    display: flex;
    

    img{
        border-radius: 100px;
        border:7px solid #2DB3FF ;
        margin:20px;
    }
    a{
        position:relative;
        display: flex;
        flex-direction: column;
    }
}


