@import "footer";
@import "header";
@import "main";
@import "acercade/acercaDe.scss";
@import "contacto/contacto.scss";
@import "portfolio/portfolio.scss";
@import "servicios/servicios.scss";
@import "medias/media.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /*border: 1px solid lightblue; */
}
/*SPV= Selector+Propiedad+Valor*/
/*TIPOS DE MEDIDAS:
    %= tama単o relativo
    px= tama単o fijo
    vh= tama単o visible
    vw= tama単o visible
    */
/* CUERPO */
body{
    position:relative;
    background: #000000;
    display: block;
    min-height: 100vh;
    margin-bottom: 280px;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}












