//Pantalla grande
@media (min-width:1400px){
    section.analista {
        margin-top: 55px;
    }
    header{
        width: 100%;
        padding: 0px 3%;
        display:flex;
        justify-content:space-around;
    }
    .footer{
        display: inline-block;
    }
    
}

@media (min-width:992px){
    

    section.analista {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction:wrap;
        width: 100vw;
        margin-top: 0px;
        .banner_boxbanner{
            
            img{
            width: 120%;
            align-items: center;
            }
        }
        }
}

@media (max-width:600px){
    section.analista {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction:column;
        width: 100vw;
        margin-top: 0px;
        .banner_boxbanner{
            
            img{
            width: 100vw;
            align-items: center;
            }
        }
        }
}



