/* PORTAFOLIO */
#proyectos{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}
#proyectos h2{
    color: #2DB3FF;
    margin: 20px;
    font-family: 'Comfortaa', sans-serif;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display:inline-block;
}