/* CONTACTO 
.formulario{
    color: #2DB3FF;
    margin: 40px;
    font-family: 'Comfortaa', sans-serif;
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.formulario div{
    margin: 30px;
}*/
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #2DB3FF;
}

.contact-wrapper {
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
    border-radius: 10px;
}

.contact-form {
    background: #222222;
    border-radius: 10px;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
    color: #fff;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #2DB3FF;
}

.contact-form form button {
    background: #2DB3FF;
    border: 0;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background:#2DB3FF;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* CONTACT INFO */
.contact-info {
    background: #000;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
    color: #fff;
}

/* LARGE SIZE */
@media(min-width: 700px) {
    body {
        padding: 0 4em;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}