/* CONTACTO */
.formulario{
    color: #2DB3FF;
    margin: 40px;
    font-family: 'Comfortaa', sans-serif;
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.formulario div{
    margin: 30px;
}