.modal-ss{
    color: aliceblue;
    margin: 30px;
    text-align: center;

    h4{
        margin: 30px;
    }
    h5{
        margin: 30px;
        color: #2DB3FF;
    }
    p{
        color: black;
    }
}